.row-padding {
    margin-top: 60px;
    height: 100%;
}

/* Don't Change - Positioning */
.absoluteCenter {
 margin:auto;
 position:relative;
 top:0;
 bottom:0;
 left:0;
 right:0;
}

/* Don't Change - Positioning */
.absoluteCenterBottom {
 margin:auto;
 position:relative;
 top:0;
 bottom:0;
 left:0;
 right:0;
}

/* Sizing */
img.absoluteCenter {
 max-height:60%;
 max-width:60%;
}

/* Sizing */
img.absoluteCenterBottom {
 max-height:20%;
 max-width:20%;
}

.filter-container {
    margin-top: 150px;
}

.logo-image {
    height: 100px;
    margin: 10px;
}

h4 {
    color: #fff;
}

p {
    font-size: 18px;
}

.h1-big {
    font-size: 220px;  
    font-weight: 200;
}

.h1-big-nav {
    font-size: 46px;  
    font-weight: 200;
    color: #fff;
    padding: 10px;
    margin: 10px;
}

.h1-medium {
    font-size: 72px;  
    font-weight: 300;
}

.h1-small {
    font-size: 46px;  
    font-weight: 200;
}

.h1-small-black {
    font-size: 46px;  
    font-weight: 200;
    color: #000;
    margin: 10px;
    padding: 10px;
}

.h3-slider {
    display:inline-block;
    font-weight: 200;
    color: #000;
    background-color: #fff;
    padding: 10px;
}

.left-push {
    margin-left: 50px;
}

.h5-slider {
    font-weight: 300;
    color: #000;
    
}

.slider {
    background-color: #B2EBF2;
}

.slider .indicators .indicator-item.active {
    background-color: #E53935;
}

nav {
    background-color: #E53935;
}

nav.top-nav {
    height: 100px;
    box-shadow: none;
}

.mt-header {
    margin-top: 100px;
}

.main-header-row {
    padding-top: 20px;
    background-color: #B2EBF2;
    margin-bottom: 0;
}

.section-text {
    margin-top: 100px;
}

.section-image {
    margin-top: 100px;
}

.light-row {
    background-color: #80DEEA;
    padding-top: 50px;
    margin-bottom: 0;
}

.dark-row {
    background-color: #4DD0E1;
    padding-top: 50px;
    margin-bottom: 0;
}

.orange-row {
    background-color: #E0F7FA;
    padding-top: 50px;
    margin-bottom: 0;
    color: #000;
}

.icon-blue {
    color: #03A9F4;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
}

.icon-orange {
    color: #FF5722;
}

.icon-pink {
    color: #E91E63;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
} 

.icon-green {
    color: #00E676;
}

.right-text {
    text-align: right;
}

.rocket-div {
    background: url(/assets/Rolling-Hills-Wide.png) no-repeat;
    margin-bottom: 0;
}

.monkey-form {
    background-color: #FFFFFF;
    color: #000;
    margin-bottom: 100px;
}

.monkey-button {
    margin: 20px;
    background-color: #FF5722;
}

.monkey-button:hover {
    background-color: #00E676;
}

ul > li > a {
    color: #fff;
    font-size: 24px;  
    font-weight: 200;
    margin: 10px;
    padding: 10px;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .mt-header {
        margin-top: 50px;
      }
      
      .h1-big {
        font-size: 100px; 
      }
      
      .h1-big-nav {
        font-size: 36px;
      }
      
      /* Sizing */
      img.absoluteCenter {
        max-height:60%;
        max-width:60%;
      }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .mt-header {
        margin-top: 50px;
      }
      
      .h1-big {
        font-size: 100px;  
      }
      
      .h1-big-nav {
        font-size: 36px;
      }
      
      /* Sizing */
      img.absoluteCenter {
        max-height:60%;
        max-width:60%;
      }
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
      .mt-header {
        margin-top: 50px;
      }
      
      .h1-big {
        font-size: 100px; 
      }
      
      .h1-big-nav {
        font-size: 36px;
      }
      
      /* Sizing */
      img.absoluteCenter {
        max-height:60%;
        max-width:60%;
      }
}

@media (max-width: 700px) {
    .h1-big {
        font-size: 90px; 
    }
    
    .h3-slider {
        font-size: 24px;
    }
}
