.row-padding {
    margin-top: 60px;
    height: 100%;
}

/* Don't Change - Positioning */
.absoluteCenter {
 margin:auto;
 position:relative;
 top:0;
 bottom:0;
 left:0;
 right:0;
}

/* Don't Change - Positioning */
.absoluteCenterBottom {
 margin:auto;
 position:relative;
 top:0;
 bottom:0;
 left:0;
 right:0;
}

/* Sizing */
img.absoluteCenter {
 max-height:60%;
 max-width:60%;
}

/* Sizing */
img.absoluteCenterBottom {
 max-height:20%;
 max-width:20%;
}

.filter-container {
    margin-top: 150px;
}

.logo-image {
    height: 100px;
    margin: 10px;
}

h4 {
    color: #fff;
}

p {
    font-size: 18px;
}

.h1-big {
    font-size: 220px;  
    font-weight: 200;
}

.h1-small {
    font-size: 46px;  
    font-weight: 200;
}

nav {
    background-color: #000;
}

nav.top-nav {
    height: 122px;
    box-shadow: none;
}

.mt-header {
    margin-top: 100px;
}

.main-header-row {
    padding-top: 100px;
    background-color: #000;
    margin-bottom: 0;
    height: 80vh;
}

.secondary-row {
}

.section-text {
    margin-top: 100px;
}

.section-image {
    margin-top: 100px;
}

.light-row {
    background-color: #03A9F4;
    padding-top: 50px;
    margin-bottom: 0;
}

.dark-row {
    background-color: #4CAF50;
    padding-top: 50px;
    margin-bottom: 0;
}

.icon-blue {
    color: #03A9F4;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
}

.icon-orange {
    color: #FF5722;
}

.icon-pink {
    color: #E91E63;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
} 

.icon-green {
    color: #00E676;
}

.right-text {
    text-align: right;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .mt-header {
        margin-top: 50px;
      }
      
      .h1-big {
        font-size: 120px;  
        font-weight: 200;
      }
      
      /* Sizing */
      img.absoluteCenter {
        max-height:80%;
        max-width:80%;
      }
      
      .main-header-row {
        height: 400px;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .mt-header {
        margin-top: 50px;
      }
      
      .h1-big {
        font-size: 120px;  
        font-weight: 200;
      }
      
      /* Sizing */
      img.absoluteCenter {
        max-height:80%;
        max-width:80%;
      }
      
      .main-header-row {
        height: 400px;
    }
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
      .mt-header {
        margin-top: 50px;
      }
      
      .h1-big {
        font-size: 120px;  
        font-weight: 200;
      }
      
      /* Sizing */
      img.absoluteCenter {
        max-height:80%;
        max-width:80%;
      }
      
      .main-header-row {
        height: 400px;
    }
}
