.row-padding {
    margin-top: 60px;
    height: 100%;
}

/* Don't Change - Positioning */
.absoluteCenter {
 margin:auto;
 position:relative;
 top:0;
 bottom:0;
 left:0;
 right:0;
}

/* Don't Change - Positioning */
.absoluteCenterBottom {
 margin:auto;
 position:relative;
 top:0;
 bottom:0;
 left:0;
 right:0;
}

/* Sizing */
img.absoluteCenter {
 max-height:30%;
 max-width:30%;
}

/* Sizing */
img.absoluteCenterBottom {
 max-height:20%;
 max-width:20%;
}

h1, h5 {
    color: #FFFFFF;
}

.filter-container {
    margin-top: 150px;
}

nav ul a {
    color: #000000;
}

nav a {
    color: #000000;
}

nav .brand-logo {
    color: #000000;
}

.logo-image {
    height: 100px;
    margin: 10px;
}

div.valign-wrapper.header-logo {
    height: 60vh;
}

p.flow-text.emerald {
    color: #FFF;
}

nav {
    background-color: #4FF7CA;
}

nav.top-nav {
    height: 122px;
    box-shadow: none;
}

nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
}

.mt-header {
    margin-top: 100px;
}

.main-header-row {
    padding-top: 100px;
    background-color: #1DE9B6;
}
